<app-data-table *ngIf="visibleList" [data]="visibleList">
    <ng-template #headers>
        <th><input type="checkbox" [checked]="globalSelection" (click)="globalClicked()"></th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Action</th>
    </ng-template>
    <ng-template #rows let-row>
        <td><input type="checkbox" [checked]="row.isSelected" (click)="itemClicked(row)"></td>
        <td *ngIf="!row.enableEditing">{{row.name}}</td>
        <td *ngIf="!row.enableEditing">{{row.email}}</td>
        <td *ngIf="!row.enableEditing">{{row.role}}</td>
        <td *ngIf="row.enableEditing"><input type="text"></td>
        <td *ngIf="row.enableEditing"><input type="text"></td>
        <td *ngIf="row.enableEditing"><input type="text"></td>
        <td>
            <app-icon-button [imageSrc]="'./../../../assets/icons/edit.png'" (buttonClick)="editItems(row)"></app-icon-button>
            <app-icon-button [imageSrc]="'./../../../assets/icons/remove.png'" (buttonClick)="deleteItems(row)"></app-icon-button>
        </td>
    </ng-template>
</app-data-table>