<app-pagination [paginationData]="members" [rowsPerPage]="10" [pageNumber]="pageNumber"
    (selectionEvent)="elementSelected($event)" (deleteItemEvent)="elementDeleted($event)"
    (editItemEvent)="elementEdited($event)" (pageCount)="setPaginationButton($event)"></app-pagination>

<div class="button-holder">
    <div class="delete-button-holder">
        <app-button [name]="'Delete selected'"></app-button>
    </div>
    <div class="page-button-holder">
        <app-round-button *ngFor="let button of buttonArray" [buttonName]="button.name" [isActive]="button.isActive"
            [isDisabled]="button.isDisabled" (buttonClicked)="gotToPage(button)"></app-round-button>
    </div>
</div>